{% extends "base.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/jquery-file-upload/css/jquery.fileupload.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/jquery-file-upload/css/jquery.fileupload-ui.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 docs-content">
                <h3>更新历史
                </h3>
                {% for project in  session['user']['projects'] if project[0] == session['project_id'] and project[5] == 'developer' %}
                <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#updateRequirementModal" style="margin: 0 0 20px 40px;">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>更新研发计划</span>
                </button>
            {% endfor %}
                <ul>
                    {% for history in locals.history %}
                    <li class="change-li" style="padding-bottom: 10px;">
                        <span>第{{ history.index }}次更新</span>
                        <span style="margin-left:10px;color:#bdc6c7">更新于{{ history.create_time }}</span>
                        <a style="margin-left:10px;color:#c7254e;text-decoration: none" href="{{ history.mpp_url }}">下载附件</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateRequirementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">更新研发计划</h4>
                </div>
                <div class="modal-body">
                    <div>
                    <div id="files" class="files" style="display: inline-block;">
                        <span id="file-name"></span>
                        <span class="btn btn-success" style="margin:0 5px 0 20px; display: none;"
                              id="upload-btn">上传</span>
                        <span class="btn btn-danger" style="margin:0 0 0 5px; display: none;"
                              id="cancel-btn">取消上传</span>
                    </div>
                    <span class="btn btn-success fileinput-button" id="add-btn">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>上传mpp文件</span>
                            <input id="fileupload" type="file" name="file"
                                   data-url="/{{ session['project_id'] }}/task/history/upload">
                        </span>
                    </div>
                    <div>
                    <div id="files" class="files" style="display: inline-block;">
                        <span id="file-name"></span>
                        <span class="btn btn-success" style="margin:0 5px 0 20px; display: none;"
                              id="upload-btn">上传</span>
                        <span class="btn btn-danger" style="margin:0 0 0 5px; display: none;"
                              id="cancel-btn">取消上传</span>
                    </div>
                        </div>
                    <!--<span class="btn btn-success fileinput-button" id="add-btn">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>上传预览图片(可选)</span>
                            <input id="fileupload" type="file" name="file"
                                   data-url="/{{ session['project_id'] }}/admin/pm/upload">
                        </span>-->

                    <div class="form-group" style="margin-top: 10px;">
                        <label for="message-text" class="control-label">研发计划:</label>
                        <textarea class="form-control" id="message-text" style="height:280px;"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" id="submit-btn">提交</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='vendors/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/developer-admin.js') }}"></script>
{% endblock %}